  <!-- <p id="notice"><%= notice %></p> -->

<h1>Фотографии друзей</h1>

<% @photos.each do |photo| %>

  <div class="card photo-form-card">
    <div class="card-header">

      <div class="img-container">
        
        <%= link_to photo, class: "photo-hover" do  %>
          <%= image_tag photo.image.url(:medium), class: "img-photo" %>
        <% end -%>

      </div>

      <br>

      <%= photo.description %>

      <br>

      <%= link_to profile_path(photo.user_id) do %>
        <i class="ion-person"></i> <%= photo.user.name %>
      <% end -%>
      <br>
        
    </div>
  </div>

<% end %>


<% will_paginate(@photos, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'justify-content-center') %>

    