<h1>Пользователь <%= @user.name %></h1>
<br>

<% if current_user.id == @user.id %>
<% else %>

  <% if current_user.subscriptions.exists?(friend_id: @user.id) %>
    <%= link_to "Отписаться", unsubscribe_profile_path(@user), class: "btn btn-primary" %>
  <% else %>
    <%= link_to "Подписаться", subscribe_profile_path(@user), class: "btn btn-primary" %>
  <% end -%>

<% end -%>

<br><br>

<% @photos.each do |photo| %>
  <div class="card photo-form-card">
    <div class="card-header">

      <div class="img-container">
        
        <%= link_to photo, class: "photo-hover" do  %>
          <%= image_tag photo.image.url(:medium), class: "img-photo" %>
        <% end -%>

      </div>

      <br>

      <strong>
        <%= photo.description %>
      </strong>
        
      <% if photo.user == current_user %>

        <span class="pull-xs-right">
          <%= link_to "Изменить", edit_photo_path(photo), class: "btn btn-primary" %>
            <!-- <i class="ion-edit"> -->
          |
          <%= link_to "Удалить", photo, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-primary" %>
            <!-- <i class="ion-trash-b"> -->
        </span>

      <% end %> 

    </div>
  </div>
<% end %>

<br>
<br>

<%= link_to 'Back', photos_path %>

<br>
<br>

<%= will_paginate(@photos, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'justify-content-center') %>