<div class="card photo-form-card">
  <div class="card-header">
    <h2>Фото <%= @photo.description %></h2>
  </div>
  <div class="card-body">

    <!-- <p id="notice"><%= notice %></p> -->

    <p>
      <strong><%= @photo.description %></strong>      
      <br>
      <br>
      <%= image_tag @photo.image.url(:large) %>
      <br>
    </p>
    
    <% if @photo.user == current_user %>
      <%= link_to 'Edit', edit_photo_path(@photo) %> |
      <%= link_to 'Destroy', @photo, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <% end %>

    <%= link_to 'Back', photos_path %>

  </div>
</div>
