<% if user_signed_in? %>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary " >
    <%= link_to "Instaphoto", root_path, class: "nav-link navbar-brand logo-text" %>
    <!-- style="background-color: #e3f2fd !important;" -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
      <ul class="navbar-nav  mt-2 mt-lg-0">

        <li class="nav-item">
          <%= link_to 'Новое фото', new_photo_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Фотографии", photos_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Фото друзей", profiles_friends_photos_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "О проекте", pages_about_path, class: "nav-link" %>
        </li>

      </ul>

      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.name %>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to "Редактировать профиль", edit_user_registration_path, class: "nav-link" %>
          <%= link_to "Мои фото", profiles_my_photos_path, class: "nav-link dropdown-item" %>
          <%= link_to "Мои подписки", profiles_subscribes_list_path, class: "nav-link dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "Выйти", destroy_user_session_path, method: :delete, class: "nav-link dropdown-item" %>
        </div>
      </div>

    </div>
  </nav>

<% else %>

  <nav class="navbar navbar-expand-lg navbar-light bg-faded " >
    <%= link_to "Instaphoto", root_path, class: "nav-link navbar-brand logo-text" %>
    <!-- style="background-color: #e3f2fd !important;" -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
      <ul class="navbar-nav  mt-2 mt-lg-0">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item">
          <%= link_to "Фотографии", photos_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "О проекте", pages_about_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Войти", new_user_session_path, class: "nav-link" %>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>

<% end %>